<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/header.ejs') %> 
    
    <main>


        <div class="descrip">
            <div class=imgbata>
                <img src="images/bateria.jpg" width="30%">
                <p>$50.000</p>
                <p>BATERIA</p>
                <p>bateria de 5 cuerpos platillos y banqueta</p>
            </div>
        </div>

    </main>

    <%- include('../partials/footer.ejs') %> 

</body>

</html>