<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/header.ejs') %> 
    
    <main>


        <div class="descrip">
            <div class=imgbata>
                <img src="images/bateria.jpg" width="30%">
                <p>$50.000</p>
                <p>BATERIA</p>
                <p>bateria de 5 cuerpos platillos y banqueta</p>
            </div>
        </div>

    </main>

    <footer>

        <section class="footer">

            <h2 class="derechosReservados">Copyright © 1999-2022 Todos los derechos Reservados</h2>

            <article class="contactos">

                <a class="whatsapp" href="https://web.whatsapp.com/"><i
                        class="fa-brands fa-whatsapp iconosFooter"></i></a>

                <a class="facebook" href="https://www.facebook.com/"><i
                        class="fa-brands fa-facebook iconosFooter"></i></a>

                <a class="instagram" href="https://www.instagram.com/"><i
                        class="fa-brands fa-instagram iconosFooter"></i></a>

            </article>

        </section>

    </footer><%- include('../partials/footer.ejs') %> 

</body>

</html>