<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/7a47a530cb.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/login.css">

    <title>Login</title>

</head>

<body>

    <header>

        <a href="/" class="imagenLogo"><img class="logo" src="./images/logo.jpg" alt=""></a>

        <section class="section-header">

            <a class="icono-header" href="productCart"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <a class="icono-header" href="login"><i class="fa-solid fa-user"></i></a>

        </section>

        <nav role="navigation" class="mobile">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="login">
                        <li>Mi cuenta</li>
                    </a>
                    <a href="register">
                        <li>Registrarse</li>
                    </a>
                    <a href="productCart">
                        <li>Mi carrito</li>
                    </a>
                    <a href="productDetail">
                        <li>Productos</li>
                    </a>
                    <a href="nosotros">
                        <li>Nosotros</li>
                    </a>
                    <a href="contacto">
                        <li>Contacto</li>
                    </a>
                </ul>
            </div>
        </nav>

        <nav class="desktop">
            <ul>
                <li><a href="login">Ingresar</a></li>
                <li><a href="register">Registrarse</a></li>
                <li><a href="productDetail">Productos</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li><a href="contacto">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <section class="sectionLogin">

            <h1 class="titular-login">Inicia Sesion:</h1>

            <form class="formlogin" action="#" method="post">

                <label for="email">Email:</label>
                <input type="email" name="usuario-email" placeholder="usuario@gmail.com" id="email" required>

                <label for="contraseña">Contraseña:</label>
                <input type="password" name="usuario-contraseña" id="contraseña" required>

                <label class="recuerdame"><input type="checkbox" class="recuerdamelogin">Recordarme</label>

                <Button type="submit" class="button">Continuar</Button>

                <a class="texto-enlace" href="#">¿Olvidaste tu Contraseña?</a>

                <a class="texto-enlace" href="register">¡No tenes cuenta todavia?</a>

            </form>

        </section>

    </main>

    <footer>

        <section class="footer">

            <h2 class="derechosReservados">Copyright © 1999-2022 Todos los derechos Reservados</h2>

            <article class="contactos">

                <a class="whatsapp" href="https://web.whatsapp.com/"><i
                        class="fa-brands fa-whatsapp iconosFooter"></i></a>

                <a class="facebook" href="https://www.facebook.com/"><i
                        class="fa-brands fa-facebook iconosFooter"></i></a>

                <a class="instagram" href="https://www.instagram.com/"><i
                        class="fa-brands fa-instagram iconosFooter"></i></a>
            </article>

        </section>

    </footer>

</body>

</html>