<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

   <%- include('./partials/header')%>

    <main>

        <h1 class="titulares-home">Ofertas semanales</h1>

        <section class="section-home">

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/guitarra.jpg" alt="">
                    <p class="descripcion">Guitarra Electrica</p>
                    <p class="descripcion"> Lex Paul</p>
                    <p class="descripcion">$12000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/bajo.jpg" alt="">
                    <p class="descripcion">Bajo Lex Paul</p>
                    <p class="descripcion">Modelo HCC-103</p>
                    <p class="descripcion">$17000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/bateria.jpg" alt="">
                    <p class="descripcion">Bateria Solidrums</p>
                    <p class="descripcion">Modelo CHO-101</p>
                    <p class="descripcion">$50000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/consola.jpg" alt="">
                    <p class="descripcion">Consola de musica</p>
                    <p class="descripcion">Modelo presonus</p>
                    <p class="descripcion">$15000</p>
                </article>
            </a>

        </section>

        <h2 class="titulares-home">Productos destacados</h2>

        <section class="section-home">

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/guitarra.jpg" alt="">
                    <p class="descripcion">Guitarra Electrica </p>
                    <p class="descripcion">Modelo Lex Paul</p>
                    <p class="descripcion">$12000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/bajo.jpg" alt="">
                    <p class="descripcion">Bajo Lex Paul</p>
                    <p class="descripcion">Modelo HCC-103</p>
                    <p class="descripcion">$17000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/bateria.jpg" alt="">
                    <p class="descripcion">Bateria Solidrums</p>
                    <p class="descripcion">Modelo CHO-101</p>
                    <p class="descripcion">$50000</p>
                </article>
            </a>

            <a class="tarjeta" href="productDetail">
                <article class="articulo-destacado">
                    <img class="imagen-home" src="./images/consola.jpg" alt="">
                    <p class="descripcion">Consola de musica</p>
                    <p class="descripcion">Modelo presonus</p>
                    <p class="descripcion">$15000</p>
                </article>
            </a>

        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>