<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/header.ejs') %> 

    <main class="main-form">

        <section class="sectionLogin">

            <h1 class="titular-login">Crear cuenta:</h1>

            <form class="formlogin">

                <label for="nombre">Nombre:</label>
                <input class="input-form" type="text" name="usuario-nombre" placeholder="Fulanito" id="nombre" required>

                <label for="apellido">Apellido:</label>
                <input class="input-form" type="text" name="usuario-apellido" placeholder="Cosme" id="apellido" required>

                <label for="email">Email:</label>
                <input class="input-form" type="email" name="usuario-email" placeholder="usuario@gmail.com" id="email" required>

                <label for="contraseña">Contraseña:</label>
                <input class="input-form" type="password" name="usuario-contraseña" id="contraseña" required>

                <label for="contraseña">Repetir Contraseña:</label>
                <input class="input-form" type="password" name="usuario-contraseña" id="contraseña" required>

                <label for="domicilio">Domicilio:</label>
                <input class="input-form" type="text" name="usuario-domicilio" placeholder="Avenida siempre viva 123" id="domicilio"
                    required>

                <label for="celular">Celular:</label>
                <input class="input-form" type="tel" name="usuario-celular" placeholder="1130254059" id="celular" required>

                <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
                <input class="input-form" type="date" name="usuario-fecha-nacimiento" id="fecha-nacimiento" value="1992-09-27" required>

                <Button type="submit" class="button">Crear cuenta</Button>

            </form>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %> 

</body>

</html>